{% extends 'base.html' %}

{% block content %}
    <h3 class="mt-4 mb-4"></i>Tìm kiếm theo loại hình công việc</h3>
    <form method="post">
        <p>
            <label for="innovation_name">Tên cải tiến</label>
            <input type="text" name="innovation_name"
                   value="{{ jidou.innovation_name }}"
                   placeholder="innovation name">
            </input>
        </p>

        <p>
            <label for="task_type">Thể loại công việc</label>
            <input type="text" name="task_type"
                   value="{{ jidou.task_type }}"
                   placeholder="Task type">
            </input>
        </p>

        <p>
            <label for="tool">Công cụ cải tiến</label>
            <input type="text" name="tool"
                   value="{{ jidou.tool }}"
                   placeholder="Tool">
            </input>
        </p>

        <p>
            <label for="describe_innovation">Mô tả chi tiết nội dung cải tiến</label>
            <input type="text" name="describe_innovation"
                   value="{{ jidou.describe_innovation }}"
                   placeholder="Describe innovation">
            </input>
        </p>

        <p>
            <label for="software">Phần mềm áp dụng</label>
            <input type="text" name="software"
                   value="{{ jidou.software }}"
                   placeholder="Software">
            </input>
        </p>

        <p>
            <label for="product">Sản phẩm áp dụng</label>
            <input type="text" name="product"
                   value="{{ jidou.product }}"
                   placeholder="Product">
            </input>
        </p>

        <p>
            <label for="pic">PIC</label>
            <input type="text" name="pic"
                   value="{{ jidou.pic }}"
                   placeholder="PIC">
            </input>
        </p>

        <p>
            <label for="dc">DC</label>
            <input type="text" name="dc"
                   value="{{ jidou.dc }}"
                   placeholder="DC">
            </input>
        </p>

        <p>
            <label for="num_tasks">Số lượng công việc áp dụng</label>
            <input type="text" name="num_tasks"
                   value="{{ jidou.num_tasks }}"
                   placeholder="Num tasks">
            </input>
        </p>

        <p>
            <label for="saved_hours">Tổng số giờ tiết kiệm được</label>
            <input type="text" name="saved_hours"
                   value="{{ jidou.saved_hours }}"
                   placeholder="Saved hours">
            </input>
        </p>

        <p>
        <label for="description">Thông tin thêm</label>
        <br>
        <textarea name="description"
                  placeholder="Description"
                  rows="15"
                  cols="60"
                  
                  >{{ jidou.information }}</textarea>
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
{% endblock %}